html{
  font: size 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
#header{
 padding-top: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
}
#logo{
position: fixed;
width: 25%;
height: 25%;
padding-top: 11%;
mix-blend-mode: color-burn;
object-fit: contain;
opacity: 60%;
}
.icons #menu-bars{
color: orange;
font-size: x-large;
padding-right: 20px;
}
#navbar.active{
  left: 0;
}
#navbar{
  position: absolute;
  top: 100%;
  background: orange;
  width: 30rem;
  height: 100vh;
  left: -100%;
  transition: .5s;
}
#navbar a{
  display: block;
  margin: 1rem;
  padding: 1rem;
  color: white;
  font-size: 20px;
}
#backgroundpic{
  background:url(images/custom2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;

}
#text{
  text-align: center;
  font-size: large;
  text-transform: capitalize;

}